@model Registration
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Come check out this totally not skecthy <a href="https://localhost:7007/Home/RegistrationForm/">registration form.</a></p>
</div>
